//Primary colors
$bg: #fff;

$foreground: #000000;
$foreground-light: rgba($foreground, 0.54);

$primary: #0796d3;
$primary-light: #53c0f0;

$secondary: #b0bbd1;

$danger: #d30707;

$muted: #e9f0fb;
$border: #d7dde9;

//Card
$card-border: #eaecf0;
$card-foreground-light: rgba($foreground, 0.54);
